table, th, td { 
    
    
}
.table, th, td{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-style:double ;
    border: 1px solid rgb(255, 252, 252);
}
main, header{
    margin: auto 200px;
}
dt {
    font-weight: bold;
}
.center{
    text-align: center;
}
.img {
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
h1 {
    color: red;
    font-size: 60px;
}

.font-size {
    font-size: 20px;
}
.font-size2{
    font-size: 40px;
}
.font-size3 {
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
html{
    background-color: gray;
}
 li, p, dd{
    color: white
}
h2, h3{
    color: blue;
}
strong {
    background-color: black;
}
dt{
    color: black;
}